.hero {
  position: relative;
  height: 90vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.706),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/9c363af5-4750-4f14-87d1-8125f5276db0/web/IN-en-20251027-TRIFECTA-perspective_b68b1528-3a10-4997-9f99-48ccbdb86626_large.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* z-index: 6; */
  
  
  overflow: hidden;
  padding: 0 20px; 
}

.hero-content {
  max-width: 700px;
  margin-top: -70px;
  color: white;
  
}

.hero h1 {
  font-size: 51px;
  font-weight: 900;
  font-family: Netflix Sans, Helvetica, Arial, sans-serif;
  transform: scaleY(1.1);
}

.hero h2 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.hero p {
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
}

.email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap; 
}

.email-form input {
  width: 380px;
  max-width: 100%;
  padding: 15px 20px;
  font-size: 16px;
  height: 60px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #757575;
  border-radius: 4px;
  outline: none;
}

.email-form input:hover {
  outline: 2px solid rgb(65, 226, 33);
}

.email-form input::placeholder {
  color: #b3b3b3;
  font-size: 16px;
}

.email-form button {
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 11px 25px;
  font-weight: 600;
  font-size: 25px;
  height: 60px;
  width: 250px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.email-form button:hover {
  background-color: #f40612;
}

/* Curve under hero */
.curve {
  position: absolute;
  bottom: -57px;
  left: 0;
  width: 100%;
  line-height: 0;
}

.curve svg {
  width: 100%;
  height: 100px;
  display: block;
  margin-top: 20px;
  z-index: 100;
}

/* ✅ RESPONSIVE DESIGN */

@media (max-width: 728px) {
  .hero {
    /* height: auto; */
    padding: 100px 20px;
  }

  .hero h1 {
    font-size: 42px;
  }

  .hero h2 {
    font-size: 18px;
  }

  
    .email-form button {
    font-size: 20px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 36px;
  }

  .hero h2 {
    font-size: 17px;
  }

  .hero p {
    font-size: 16px;
  }

  .email-form {
    flex-direction: column;
    gap: 15px;
  }

  .email-form input,
  .email-form button {
   
    flex-direction: column; 
    height: 55px;
  }
  

  .email-form button {
    font-size: 20px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 30px;
  }
  

  .hero h2 {
    font-size: 15px;
  }

  .hero p {
    font-size: 14px;
  }

  .email-form input,
  .email-form button {
    width: 110%;
    height: 50px;
  }

  .email-form button {
    font-size: 10px;
    
  }

  .curve svg {
    height: 60px;
  }
}


