.trending {
  color: white;
  background: radial-gradient(circle at 50% -90%, #111154 40%, #000 70%);
  padding: 30px 60px;
  position: relative;
  border-top: 8px solid #222;
  padding: 40px 8%;
  text-align: center;
  margin-top: -13px;
  /* z-index: 9;
   */
   position: relative; 
  z-index: 1; 
}

.trending h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  font-weight: 700;
  margin-right: 80%;
  margin-left: -20px;
}

.trending-container {
  position: relative;
  display: flex;
  justify-content: center;

}

.trending-row {
  display: flex;
  gap: 0px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  }

.trending-row::-webkit-scrollbar {
  display: none;
}

.trend-card {
  position: relative;
  flex: 0 0 calc(25% - 50px);
  transition: transform 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-left: -10px;
}

.trend-card img {
  width: 200px;
  border-radius: 10px;
  height: 260px;
  cursor: pointer;
}

.trend-card:hover {
  z-index: 5;
  transform: scale(1.1);
}

.trend-num {
  position: absolute;
  left: 10px;
  bottom: -10px;
  font-size: 100px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 3px rgb(255, 255, 255);
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  z-index: 3;
  opacity: 0.9;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  width: 25px;
  height: 50%;
  cursor: pointer;
  border-radius: 40px;
  z-index: 10;
  transition: background 0.3s;
}

.scroll-btn:hover {
  background-color: rgba(106, 102, 102, 0.55);
}

.scroll-btn.left {
  left: -20px;
}

.scroll-btn.right {
  right: -20px;
}

.trend-card p {
  margin-top: 8px;
  text-align: center;
  font-size: 1rem;
  color: #ccc;
}




/* 📱 Mobile (max-width: 480px) */
@media (max-width: 480px) {
  .trending {
    padding: 20px 5%;
    /* text-align: center; */
    margin-top: 30px;
  }

  .trending h2 {
    font-size: 1.4rem;
    text-align: left;
    
    margin: 0 0 10px 0;
  }

  .trending-row {
    gap: 20px;
  }

  .trend-card {
    flex: 0 0 70%;
    padding: 10px;
  }

  .trend-card img {
    width: 100%;
    height: auto;
  }

  .trend-num {
    font-size: 60px;
    bottom: -5px;
    left: 5px;
    -webkit-text-stroke: 2px #fff;
  }

  .scroll-btn {
    font-size: 24px;
    width: 20px;
    height: 40%;
  }
}

/* 📲 Small tablets (481px–768px) */
@media (max-width: 768px) {
  .trending {
    padding: 25px 6%;
    margin-top: -30px;
  }

  .trending h2 {
    font-size: 1.6rem;
    margin: 0 0 15px 0;
    margin-left: -290px;
    margin-top: 10px;

  }

  .trend-card {
    flex: 0 0 40%;
  }

  .trend-card img {
    width: 100%;
    height: auto;
  }

  .trend-num {
    font-size: 80px;
  }
 
}


