/* General Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 9, 9, 0.681);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}

.modal-content {
  position: relative;
  width: 70%;
  max-width: 1200px;
  height: 80%;
  /* border-color: 6px solid#fff; */
  /* padding: 20px 30px; */
}

.modal-content iframe {
  width: 100%;
  height: 90%;
  border: none;
    /* border: 20px solid #fff; white border */


  border-radius: 8px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  color: #fff;
  background: rgba(255,0,0,0.7);
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
